body{

}
.red {
	width: 400px;
	height: 400px;
	background-color: red;

}

.purple {
	width: 200px;
	height: 200px;
	background-color: purple;
	position: absolute;
	left: 100px;
	top: 100px;
}

.yellow {
	width: 90px;
	height: 90px;
	background-color: yellow;
	position: absolute;
}